version: '3.8'

services:
  db:
    image: postgres:13
    environment:
      POSTGRES_DB: synergenhr
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: synergenhr2024
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    ports:
      - "80:8000"
    environment:
      - DATABASE_URL=postgresql://postgres:synergenhr2024@db:5432/synergenhr
    command: sh ./entrypoint.sh
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./media:/app/media

volumes:
  postgres_data:
