{% extends 'index.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<style>
/* Fix the neon yellow gender restriction dropdown */
#id_gender_restriction {
    background-color: white !important;
    color: black !important;
    border: 1px solid #ddd !important;
    height: auto !important;
    size: 1 !important;
}

#id_gender_restriction option {
    background-color: white !important;
    color: black !important;
}

/* Hide multiple options display */
#id_gender_restriction[size] {
    size: 1 !important;
}

/* Select2 styling override */
.select2-container--default .select2-selection--single {
    background-color: white !important;
    color: black !important;
    border: 1px solid #ddd !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: black !important;
}

.select2-dropdown {
    background-color: white !important;
}

.select2-results__option {
    background-color: white !important;
    color: black !important;
}

.select2-results__option--highlighted {
    background-color: #f8f9fa !important;
    color: black !important;
}
</style>

{% if form.errors %}
    <div class="oh-wrapper">
        <div class="oh-alert-container">

            {% for error in form.non_field_errors %}
            <div class="oh-alert oh-alert--animated oh-alert--danger">
                {{ error }}
            </div>
            {% endfor %}
        </div>
    </div>
{% endif %}

<div class="oh-wrapper d-flex justify-content-center">
    <div class="oh-onboarding-card">
        <form method="post" enctype="multipart/form-data" onsubmit="checkYesOrNoFields()">
            {% csrf_token %}
            <div class="oh-onboarding-card__address-group">
                <h2 class="oh-onboarding-card__section-title">{% trans "Create Leave Type" %}</h2>
                <div class="row">
                    <div class="col-sm-12 col-md-12 ">
                        <div class="oh-input-group">
                            <label for="" class="oh-label">{{ form.name.label }}</label>
                            {{form.name}}
                            {{form.name.errors}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="oh-input-group">
                            <label for="" class="oh-label">{{ form.icon.label }}</label><br />
                            {{form.icon}}
                            {{form.icon.errors}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="oh-input-group">
                            <label for="" class="oh-label">{{ form.color.label }}</label>
                            {{form.color}}
                            {{form.color.errors}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="oh-input-group">
                            <label for="" class="oh-label">{{ form.payment.label }}</label>
                            {{form.payment}}
                            {{form.payment.errors}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="oh-input-group oh-label__info justify-content-between">
                            <div class="d-flex align-items-center">
                                <label for="id_reset" class="oh-label">{{ form.limit_leave.label }}</label>
                                <span class=" oh-info me-3"
                                    title="{% trans 'Do you want to limit leave days for this leave type?' %}"></span>
                            </div>
                            <div class="oh-switch p-3 ">
                                {{form.limit_leave}}
                                {{form.limit_leave.errors}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 totalDaysContainer">
                        <div class="oh-input-group">
                            <label for="" class="oh-label">{% trans "Total Days" %}</label>
                            {{form.count}}
                            {{form.count.errors}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="oh-input-group">
                            {% comment %} <label for="" class="oh-label">{% trans "Period In" %}</label> {% endcomment %}
                            {{form.period_in}}
                            {{form.period_in.errors}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="oh-input-group">
                            {% comment %} <label for="" class="oh-label">{% trans "Total Days" %}</label> {% endcomment %}
                            {{form.total_days}}
                            {{form.total_days.errors}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 resetContainer">
                        <div class="oh-input-group oh-label__info justify-content-between">
                            <div class="d-flex align-items-center">
                                <label for="id_reset" class="oh-label">{{ form.reset.label }}</label>
                                <span class=" oh-info me-3"
                                    title="{% trans 'Do you need to reset leaves based on conditions?' %}"></span>
                            </div>
                            <div class="oh-switch p-3 ">
                                {{form.reset}}
                                {{form.reset.errors}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 ">
                        <div>
                            <div class="oh-input-group oh-label__info">
                                <label for="id_reset_based" class="oh-label">{{ form.reset_based.label }}</label>
                                <span id="reset_based_id" class=" oh-info me-3"
                                    title="{% trans 'The time period for the leave to reset.' %}"></span>
                            </div>
                            {{ form.reset_based }}
                            {{ form.reset_based.errors }}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 ">
                        <div class="oh-input-group">
                            <label for="id_reset_month" class="oh-label">{{ form.reset_month.label }}</label>
                            {{form.reset_month}}
                            {{form.reset_month.errors}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 ">
                        <div class="oh-input-group">
                            <label for="id_reset_day" class="oh-label">{{ form.reset_day.label }}</label>
                            {{form.reset_day}}
                            {{form.reset_day.errors}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 ">
                        <div class="oh-input-group">
                            <label for="id_reset_weekend" class="oh-label">{{ form.reset_weekend.label }}</label>
                            {{form.reset_weekend}}
                            {{form.reset_weekend.errors}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 ">
                        <div>
                            <div class="oh-input-group oh-label__info">
                                <label for="" class="oh-label">{{ form.carryforward_type.label }}</label>
                                <span class=" oh-info me-3"
                                    title="{% trans 'The conditions for carrying forward the balance of leave.' %}"></span>
                            </div>
                            {{form.carryforward_type}}
                            {{form.carryforward_type.errors}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 ">
                        <div>
                            <div class="oh-input-group oh-label__info">
                                <label for="id_carryforward_max" class="oh-label">{{ form.carryforward_max.label }}</label>
                                <span class=" oh-info me-3"
                                    title="{% trans 'The maximum number of leave that can be carried forward.' %}"></span>
                            </div>
                            {{form.carryforward_max}}
                            {{form.carryforward_max.errors}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div>
                            <div class="oh-input-group oh-label__info">
                                <label for="id_carryforward_expire_in" class="oh-label">{{ form.carryforward_expire_in.label }}</label>
                                <span class=" oh-info me-3"
                                    title="{% trans 'The count of carryforward expire period' %}"></span>
                            </div>
                            {{form.carryforward_expire_in}}
                            {{form.carryforward_expire_in.errors}}
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="oh-input-group oh-label__info">
                            <label for="id_carryforward_expire_period" class="oh-label">{{ form.carryforward_expire_period.label }}</label>
                            <span class=" oh-info me-3"
                                title="{% trans 'The time period for the expiration of carryforward leave.' %}"></span>
                        </div>
                        {{form.carryforward_expire_period}}
                        {{form.carryforward_expire_period.errors}}
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="oh-input-group oh-label__info">
                            <label for="id_carryforward_expire_date" class="oh-label">{{ form.carryforward_expire_date.label }}</label>
                            <span class=" oh-info me-3"
                                title="{% trans 'The date on which carryforward leave resets to 0. After this reset, the date will be updated to the next expiration period.' %}"></span>
                        </div>
                        {{form.carryforward_expire_date}}
                        {{form.carryforward_expire_date.errors}}
                    </div>
                    <div class="col-sm-12 col-md-12  col-lg-6">
                        <div class="oh-input-group oh-label__info justify-content-between">
                            <div class="d-flex align-items-center">
                                <label for="" class="oh-label ">{{ form.require_approval.label }}</label>
                                <span class=" oh-info me-3"
                                    title="{% trans 'Do you need approval for leave from the authority?' %}"></span>
                            </div>
                            <div class="oh-switch p-3 ">
                                <input type="checkbox" class="oh-switch__checkbox yesOrNo" id="id_approval" checked>
                                {{form.require_approval.errors}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12  col-lg-6">
                        <div class="oh-input-group oh-label__info justify-content-between">
                            <div class="d-flex align-items-center">
                                <label for="" class="oh-label">{{ form.require_attachment.label }}</label>
                                <span class=" oh-info me-3"
                                    title="{% trans 'Do you need to attach a document for leave?' %}"></span>
                            </div>
                            <div class="oh-switch p-3 ">
                                <input type="checkbox" class="oh-switch__checkbox yesOrNo" id="id_attachment">
                                {{form.require_attachment.errors}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="oh-input-group oh-label__info justify-content-between">
                            <div class="d-flex align-items-center">
                                <label for="" class="oh-label">{{ form.exclude_company_leave.label }}</label>
                                <span class=" oh-info me-3"
                                    title="{% trans 'Do you need to exclude company holidays from the requested leave days?' %}"></span>
                            </div>
                            <div class="oh-switch p-3 ">
                                <input type="checkbox" class="oh-switch__checkbox yesOrNo" id="id_exclude_comp_leave">
                                {{form.exclude_company_leave.errors}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="oh-input-group oh-label__info  justify-content-between">
                            <div class="d-flex align-items-center">
                                <label for="" class="oh-label">{{ form.exclude_holiday.label }}</label>
                                <span class=" oh-info me-3"
                                    title="{% trans 'Do you need to exclude public holidays from the requested leave days?' %}"></span>
                            </div>
                            <div class="oh-switch p-3 ">
                                <input type="checkbox" class="oh-switch__checkbox yesOrNo" id="id_exclude_public_leave">
                                {{form.exclude_holiday.errors}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="oh-input-group oh-label__info  justify-content-between">
                            <div class="d-flex align-items-center">
                                <label for="" class="oh-label">{{ form.exclude_weekends.label }}</label>
                                <span class=" oh-info me-3"
                                    title="{% trans 'Do you need to exclude weekends from the requested leave days?' %}"></span>
                            </div>
                            <div class="oh-switch p-3 ">
                                <input type="checkbox" class="oh-switch__checkbox yesOrNo" id="id_exclude_weekends_toggle">
                                {{form.exclude_weekends.errors}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="oh-input-group oh-label__info  justify-content-between">
                            <div class="d-flex align-items-center">
                                <label for="" class="oh-label">{{ form.is_encashable.label }}</label>
                                <span class=" oh-info me-3"
                                    title="{% trans 'Do you need to encash pending leave days?' %}"></span>
                            </div>
                            <div class="oh-switch p-3 ">
                                {{form.is_encashable}}
                                {{form.is_encashable.errors}}
                            </div>
                        </div>
                    </div>
                    
                    <!-- Monthly Recurring -->
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="oh-input-group oh-label__info  justify-content-between">
                            <div class="d-flex align-items-center">
                                <label for="id_monthly_recurring" class="oh-label">{{ form.monthly_recurring.label }}</label>
                                <span class=" oh-info me-3"
                                    title="{% trans 'If enabled, employees with this leave type will automatically receive the allocated leave days every month.' %}"></span>
                            </div>
                            <div class="oh-switch p-3 ">
                                {{form.monthly_recurring}}
                                {{form.monthly_recurring.errors}}
                            </div>
                        </div>
                    </div>
                    
                    <!-- Conditional Formatting Fields -->
                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="oh-input-group oh-label__info  justify-content-between">
                            <div class="d-flex align-items-center">
                                <label for="" class="oh-label">{{ form.use_conditional_formatting.label }}</label>
                                <span class=" oh-info me-3"
                                    title="{% trans 'Apply Python-based rules for leave allocation (e.g., based on employee type)' %}"></span>
                            </div>
                            <div class="oh-switch p-3 ">
                                {{form.use_conditional_formatting}}
                                {{form.use_conditional_formatting.errors}}
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-sm-12 col-md-12 col-lg-6" id="conditional_formatting_rule_container" style="display:none;">
                        <div class="oh-input-group oh-label__info">
                            <label for="id_conditional_formatting_rule" class="oh-label">{{ form.conditional_formatting_rule.label }}</label>
                            <span class=" oh-info me-3"
                                title="{% trans 'Select a conditional formatting rule to apply' %}"></span>
                        </div>
                        {{form.conditional_formatting_rule}}
                        {{form.conditional_formatting_rule.errors}}
                    </div>
                    
                    {% if perms.leave.add_availableleave %}
                        <div class="col-sm-12 col-md-12">
                            <div class="oh-input-group oh-label__info">
                                <label for="id_employee_id" class="oh-label">{% trans "Assign to Employees" %}</label>
                                <span class=" oh-info me-3"
                                    title="{% trans 'Choose employees to assign this leave type' %}"></span>
                            </div>
                            
                            <!-- First row: Gender filter and Apply Filter button -->
                            <div class="mb-3 d-flex align-items-center gap-3">
                                <div class="d-flex align-items-center">
                                    {{form.gender_restriction}}
                                </div>
                                <button type="button" id="test-filter-btn" class="oh-btn oh-btn--warning oh-btn--sm">
                                    <i class="fa fa-filter"></i> {% trans "Apply Filter" %}
                                </button>
                            </div>
                            
                            <!-- Second row: Select All and Deselect All buttons -->
                            <div class="mb-2 d-flex gap-3">
                                <button type="button" id="select-all-employees-btn" class="oh-btn oh-btn--light oh-btn--sm">
                                    <i class="fa fa-check-square"></i> {% trans "Select All" %}
                                </button>
                                <button type="button" id="deselect-all-employees-btn" class="oh-btn oh-btn--light oh-btn--sm">
                                    <i class="fa fa-square-o"></i> {% trans "Deselect All" %}
                                </button>
                            </div>
                            
                            {{form.gender_restriction.errors}}
                            {{form.employee_id}}
                            {{form.employee_id.errors}}
                        </div>
                    {% endif %}
                    <div hidden>{{form.require_approval}}</div>
                    <div hidden>{{form.require_attachment}}</div>
                    <div hidden>{{form.exclude_company_leave}}</div>
                    <div hidden>{{form.exclude_holiday}}</div>
                    <div hidden>{{form.exclude_weekends}}</div>

                </div>
            </div>

            <button type="submit"
                class="oh-btn oh-onboarding-card__button mt-4 oh-btn--secondary oh-btn--shadow w-100 mb-4"
                role="button">
                {% trans "Create" %}
            </button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Fix gender restriction dropdown styling and behavior
        $('#id_gender_restriction').css({
            'background-color': 'white',
            'color': 'black',
            'border': '1px solid #ddd',
            'height': 'auto'
        }).removeAttr('size').attr('size', '1');
        
        var reset = $("#id_reset");
        var reset_based_label = $("label[for='id_reset_based']");
        var reset_based_span = $("#reset_based_id");
        var reset_based = $("#id_reset_based");
        var reset_month_label = $("label[for='id_reset_month']");
        var reset_month = $("#id_reset_month");
        var reset_day_label = $("label[for='id_reset_day']");
        var reset_day = $("#id_reset_day");
        var reset_weekend = $("#id_reset_weekend");
        var reset_weekend_label = $("label[for='id_reset_weekend']");
        var carryforward_type = $("#id_carryforward_type");
        var carryforward_max_label = $("label[for='id_carryforward_max']");
        var carryforward_max = $("#id_carryforward_max");
        var carryforward_expire_in_label = $(
            "label[for='id_carryforward_expire_in']"
        );
        var carryforward_expire_in = $("#id_carryforward_expire_in");
        var carryforward_expire_date_label = $(
            "label[for='id_carryforward_expire_date']"
        );
        var carryforward_expire_date = $("#id_carryforward_expire_date");
        var carryforward_expire_period_label = $(
            "label[for='id_carryforward_expire_period']"
        );
        var carryforward_expire_period = $("#id_carryforward_expire_period");
        var totalDaysContainer = $(".totalDaysContainer");
        var resetContainer = $(".resetContainer");
        var totalDays = $("#id_total_days");
        var limitLeave = $("#id_limit_leave");

        //Making all fields which are not needed first was hidden and not required
        reset_based_label.hide();
        reset_based.hide().prop("required", false);
        reset_based_span.hide();
        reset_month_label.hide();
        reset_month.hide().prop("required", false);
        reset_day_label.hide();
        reset_day.hide().prop("required", false);
        reset_weekend.hide().prop("required", false);
        reset_weekend_label.hide();
        carryforward_max_label.hide();
        carryforward_max.hide().prop("required", false);
        carryforward_expire_in_label.hide();
        carryforward_expire_in.hide().prop("required", false);
        carryforward_expire_period_label.hide();
        carryforward_expire_period.hide().prop("required", false);
        carryforward_expire_date_label.closest("div").hide();
        carryforward_expire_date.hide().prop("required", false);

        // clear the values of date inputs
        $("[type=date]").each(function () {
            $(this).val("");
        });

        // Check value of reset change field and trigger action
        reset.change(function () {
            this.checked
                ? (reset_based.show().prop("required", true),
                    reset_based_label.show())
                : (reset_based_label.hide(),
                    reset_based.hide().prop("required", false),
                    reset_based.val("")),
                reset_based_span.show();
            reset_based.is(":hidden")
                ? (reset_month_label.hide(),
                    reset_month.hide().prop("required", false),
                    reset_month.val(""),
                    reset_day_label.hide(),
                    reset_day.val(""),
                    reset_day.hide().prop("required", false),
                    reset_weekend_label.hide(),
                    reset_based_span.hide(),
                    reset_weekend.hide().prop("required", false),
                    reset_weekend.val(""))
                : "";
        });

        limitLeave.change(function () {
            this.checked
                ? (totalDaysContainer.show(), resetContainer.show())
                : (totalDaysContainer.hide(), resetContainer.hide());
        });

        // Check value of boolean change field and trigger action
        reset_based.change(function (e) {
            var value = $(this).val();
            if (value == "weekly") {
                reset_weekend.show().prop("required", true);
                reset_weekend_label.show();
                reset_month.hide().prop("required", false);
                reset_month_label.hide();
                reset_month.val("");
                reset_day.hide().prop("required", false);
                reset_day_label.hide();
                reset_day.val("");
            } else {
                reset_weekend_label.hide();
                reset_weekend.hide().prop("required", false);
                reset_weekend.val("");
            }
            if (value == "yearly") {
                reset_weekend_label.hide();
                reset_weekend.hide().prop("required", false);
                reset_weekend.val("");
                reset_month_label.show();
                reset_month.show().prop("required", true);
                reset_day.show().prop("required", true);
                reset_day_label.show();
            }
            if (value == "monthly") {
                reset_day.show().prop("required", true);
                reset_day_label.show();
                reset_month.hide().prop("required", false);
                reset_month_label.hide();
                reset_month.val("");
            }
            if (value == "") {
                reset_month.hide().prop("required", false);
                reset_month_label.hide();
                reset_month.val("");
                reset_day.hide().prop("required", false);
                reset_day_label.hide();
                reset_day.val("");
            }
        });

        carryforward_type.change(function () {
            this.value == "carryforward" || this.value == "carryforward expire"
                ? (carryforward_max_label
                    .show()
                    .prop(
                        "title",
                        "Leave the field empty for unlimitted carryforward"
                    ),
                    carryforward_max.show())
                : (carryforward_max_label.hide(),
                    carryforward_max.hide().prop("required", false),
                    carryforward_max.val(""));
            this.value == "carryforward expire"
                ? (carryforward_expire_in_label.show(),
                    carryforward_expire_in.show().prop("required", true),
                    carryforward_expire_period_label.show(),
                    carryforward_expire_period.show().prop("required", true),
                    carryforward_expire_date.show().prop("required", true),
                    carryforward_expire_date_label.closest("div").show())
                : (carryforward_expire_in_label.hide(),
                    carryforward_expire_in.hide().prop("required", false),
                    carryforward_expire_in.val(""),
                    carryforward_expire_period_label.hide(),
                    carryforward_expire_period.hide().prop("required", false),
                    carryforward_expire_period.val(""),
                    carryforward_expire_date.hide().prop("required", false),
                    carryforward_expire_date_label.closest("div").hide());
        });

        function toggleFields() {
            if ($("#id_reset").is(":checked")) {
                $("#id_carryforward_type").parent().show();
                if ($("#id_carryforward_type").val() == "carryforward") {
                    $("#id_carryforward_max").parent().show();
                } else if (
                    $("#id_carryforward_type").val() == "carryforward expire"
                ) {
                    $(
                        "#id_carryforward_max,#id_carryforward_expire_in,#id_carryforward_expire_period"
                    )
                        .parent()
                        .show();
                }
            } else {
                $("#id_carryforward_type,#id_carryforward_max").parent().hide();
                $(
                    "#id_carryforward_max,#id_carryforward_expire_in,#id_carryforward_expire_period"
                )
                    .parent()
                    .hide();
            }
        }

        $("select,input[type=checkbox]").change(function (e) {
            toggleFields();
        });

        toggleFields();

        // leave total days calculation
        $("#id_period_in, #id_count").change(function () {
            const month = 30;
            const year = 365;
            const day = 1;
            var totalDays = 0;
            var unit = $("#id_period_in").val();
            var count = $("#id_count").val();

            if (unit == "day") {
                totalDays = day * count;
            } else if (unit == "month") {
                totalDays = month * count;
            } else if (unit == "year") {
                totalDays = year * count;
            }
            $("#id_total_days").val(totalDays);
        });
    });

    //check the yes or no fields
    function checkYesOrNoFields() {
        if ($("#id_approval").is(":checked")) {
            $("#id_require_approval").val("yes");
        } else {
            $("#id_require_approval").val("no");
        }
        if ($("#id_attachment").is(":checked")) {
            $("#id_require_attachment").val("yes");
        } else {
            $("#id_require_attachment").val("no");
        }
        if ($("#id_exclude_comp_leave").is(":checked")) {
            $("#id_exclude_company_leave").val("yes");
        } else {
            $("#id_exclude_company_leave").val("no");
        }
        if ($("#id_exclude_public_leave").is(":checked")) {
            $("#id_exclude_holiday").val("yes");
        } else {
            $("#id_exclude_holiday").val("no");
        }
        if ($("#id_exclude_weekends_toggle").is(":checked")) {
            $("#id_exclude_weekends").val("yes");
        } else {
            $("#id_exclude_weekends").val("no");
        }
    }

    $(".yesOrNo").change(function () {
        checkYesOrNoFields();
    });

    $(document).ready(function () {
        // Initialize all yes/no fields on page load
        checkYesOrNoFields();
        
        // Toggle conditional formatting dropdown and disable Total Days field
        function toggleConditionalFormattingDropdown(checkbox) {
            var $totalDaysContainer = $('.totalDaysContainer');
            var $countField = $('#id_count');
            
            if (checkbox.is(':checked')) {
                // Show conditional formatting dropdown
                $('#conditional_formatting_rule_container').show();
                
                // Disable and grey out Total Days field
                $countField.prop('disabled', true);
                $countField.prop('required', false); // Remove required attribute
                $countField.css({
                    'background-color': '#f0f0f0',
                    'cursor': 'not-allowed',
                    'opacity': '0.6'
                });
                $countField.val('0'); // Set to 0 as it will be calculated
                
                // Add info message
                var $conditionalNote = $('#conditional-formatting-note');
                if ($conditionalNote.length === 0) {
                    $conditionalNote = $('<div id="conditional-formatting-note" class="oh-alert oh-alert--warning mt-2" style="font-size: 12px;"></div>');
                    $totalDaysContainer.append($conditionalNote);
                }
                $conditionalNote.html('<i class="fa fa-info-circle"></i> Total days will be calculated automatically based on the conditional formatting rule.').show();
                
            } else {
                // Hide conditional formatting dropdown
                $('#conditional_formatting_rule_container').hide();
                $('#id_conditional_formatting_rule').val('');
                
                // Re-enable Total Days field
                $countField.prop('disabled', false);
                $countField.prop('required', true); // Restore required attribute
                $countField.css({
                    'background-color': '',
                    'cursor': '',
                    'opacity': ''
                });
                
                // Remove info message
                $('#conditional-formatting-note').hide();
            }
        }
        
        // Initialize conditional formatting visibility
        toggleConditionalFormattingDropdown($('#id_use_conditional_formatting'));
        
        // Handle conditional formatting toggle change
        $('#id_use_conditional_formatting').change(function() {
            toggleConditionalFormattingDropdown($(this));
        });
        
        // Gender-based employee filtering - WORKS WITH SELECT2
        // Define the filter function
        function filterEmployeesByGender() {
            console.log('=== GENDER FILTER DEBUG START ===');
            var selectedGender = $('#id_gender_restriction').val();
            console.log('Selected gender:', selectedGender);
            
            var $employeeSelect = $('#id_employee_id');
            console.log('Employee select found:', $employeeSelect.length > 0);
            
            // Show loading message
            $employeeSelect.prop('disabled', true);
            $employeeSelect.html('<option>Loading employees...</option>');
            
            console.log('Making AJAX call to: /leave/filter-employees-by-gender');
            console.log('With data:', { gender: selectedGender });
            
            // Make AJAX call to get filtered employees
            $.ajax({
                url: '/leave/filter-employees-by-gender',
                method: 'GET',
                data: { gender: selectedGender },
                success: function(response) {
                    console.log('AJAX SUCCESS - Response:', response);
                    console.log('Number of employees returned:', response.employees ? response.employees.length : 0);
                    // Clear current options
                    $employeeSelect.empty();
                    console.log('Cleared existing options');
                    
                    // Add filtered employees
                    if (response.employees && response.employees.length > 0) {
                        console.log('Adding', response.employees.length, 'employees to dropdown');
                        $.each(response.employees, function(index, emp) {
                            $employeeSelect.append(
                                $('<option></option>')
                                    .attr('value', emp.id)
                                    .text(emp.name)
                            );
                        });
                        console.log('Options added successfully');
                        
                        // Show success message
                        var message = selectedGender === 'all' || !selectedGender
                            ? 'Showing all active employees (' + response.employees.length + ')'
                            : 'Showing only ' + selectedGender + ' employees (' + response.employees.length + ')';
                        
                        showGenderFilterMessage(message, 'info');
                    } else {
                        console.log('No employees found for gender:', selectedGender);
                        $employeeSelect.append('<option>No employees found</option>');
                        showGenderFilterMessage('No employees found for selected gender', 'warning');
                    }
                    
                    // Re-enable select
                    $employeeSelect.prop('disabled', false);
                    console.log('Employee select re-enabled');
                    
                    // Just trigger change event to update Select2 display
                    if ($.fn.select2 && $employeeSelect.hasClass('oh-select-2')) {
                        console.log('Triggering Select2 change event');
                        $employeeSelect.trigger('change');
                    }
                    
                    console.log('=== FINAL CHECK: Options in select ===');
                    console.log('Number of options:', $employeeSelect.find('option').length);
                    $employeeSelect.find('option').each(function(i) {
                        if (i < 5) { // Only log first 5 to avoid spam
                            console.log('  Option', i, ':', $(this).val(), '-', $(this).text());
                        }
                    });
                },
                error: function(xhr, status, error) {
                    console.error('=== AJAX ERROR ===');
                    console.error('Status:', status);
                    console.error('Error:', error);
                    console.error('Response:', xhr.responseText);
                    console.error('Status code:', xhr.status);
                    
                    $employeeSelect.prop('disabled', false);
                    $employeeSelect.html('<option>Error loading employees</option>');
                    showGenderFilterMessage('Error loading employees. Check console for details.', 'danger');
                }
            });
            console.log('=== GENDER FILTER DEBUG END ===');
        }
        
        // Helper function to show messages
        function showGenderFilterMessage(message, type) {
            var $employeeWidget = $('#id_employee_id').closest('.oh-input-group');
            var $genderNote = $('#gender-filter-note');
            
            if ($genderNote.length === 0) {
                $genderNote = $('<div id="gender-filter-note" class="oh-alert mt-2" style="font-size: 12px;"></div>');
                $employeeWidget.append($genderNote);
            }
            
            $genderNote.removeClass('oh-alert--info oh-alert--warning oh-alert--danger');
            $genderNote.addClass('oh-alert--' + type);
            $genderNote.html('<i class="fa fa-info-circle"></i> ' + message).show();
        }
        
        // Initialize on page load - load all employees
        console.log('=== INITIALIZING GENDER FILTER ===');
        console.log('Gender restriction field exists:', $('#id_gender_restriction').length);
        console.log('Initial value:', $('#id_gender_restriction').val());
        
        // Function to bind events once Select2 is ready
        function bindGenderEvents() {
            var $genderSelect = $('#id_gender_restriction');
            
            if ($genderSelect.hasClass('select2-hidden-accessible')) {
                console.log('=== SELECT2 IS READY, BINDING EVENTS ===');
                
                // Unbind any existing events first
                $genderSelect.off('select2:select select2:unselect change');
                
                // Bind to Select2 change event
                $genderSelect.on('select2:select select2:unselect change', function(e) {
                    console.log('=== SELECT2 CHANGE EVENT FIRED ===');
                    console.log('Event type:', e.type);
                    console.log('Selected value:', $(this).val());
                    
                    // Call the filter function directly
                    filterEmployeesByGender();
                });
                
                console.log('=== EVENTS BOUND TO SELECT2 ===');
                
                // Load initial employees
                filterEmployeesByGender();
                return true;
            }
            return false;
        }
        
        // Try to bind events multiple times until Select2 is ready
        var attempts = 0;
        var maxAttempts = 10;
        var bindInterval = setInterval(function() {
            attempts++;
            console.log('=== ATTEMPT', attempts, 'TO BIND EVENTS ===');
            
            if (bindGenderEvents() || attempts >= maxAttempts) {
                clearInterval(bindInterval);
                if (attempts >= maxAttempts) {
                    console.log('=== MAX ATTEMPTS REACHED, USING FALLBACK ===');
                    // Fallback: use document delegation
                    $(document).on('change', '#id_gender_restriction', function(e) {
                        console.log('=== FALLBACK CHANGE EVENT ===');
                        filterEmployeesByGender();
                    });
                }
            }
        }, 500);
        
        // Test Filter Button
        $("#test-filter-btn").click(function () {
            console.log('=== MANUAL TEST FILTER CLICKED ===');
            filterEmployeesByGender();
        });
        
        // Select All Employees Button
        $("#select-all-employees-btn").click(function () {
            var $employeeSelect = $("#id_employee_id");
            
            if ($employeeSelect.is("select")) {
                // For select dropdown, select all options
                $employeeSelect.find('option').prop("selected", true);
                
                // If using Select2, trigger change
                if ($.fn.select2 && $employeeSelect.hasClass('oh-select-2')) {
                    $employeeSelect.trigger('change');
                }
            } else if ($employeeSelect.find('input[type="checkbox"]').length > 0) {
                // For checkbox list, check all
                $employeeSelect.find('input[type="checkbox"]').prop("checked", true);
            }
            
            $employeeSelect.trigger("change");
            console.log('Selected all employees');
        });
        
        // Deselect All Employees Button
        $("#deselect-all-employees-btn").click(function () {
            var $employeeSelect = $("#id_employee_id");
            
            if ($employeeSelect.is("select")) {
                // For select dropdown, deselect all options
                $employeeSelect.find('option').prop("selected", false);
                
                // If using Select2, trigger change
                if ($.fn.select2 && $employeeSelect.hasClass('oh-select-2')) {
                    $employeeSelect.trigger('change');
                }
            } else if ($employeeSelect.find('input[type="checkbox"]').length > 0) {
                // For checkbox list, uncheck all
                $employeeSelect.find('input[type="checkbox"]').prop("checked", false);
            }
            
            $employeeSelect.trigger("change");
            console.log('Deselected all employees');
        });
    });


</script>

{% endblock %}
