@use "sass:map";
// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


/// Regular font family
/// @type List
$text-font-stack: 'Poppins', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// Code (monospace) font family
/// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;





/// Copy text color
/// @type Color
$text-color: hsl(0, 0%, 11%) !default;

/// Copy text color
/// @type Color
$background-color: hsl(0, 0%, 97.5%) !default;

/// Main brand light color (SynergenHR Blue Light)
/// @type Color
$brand-color-light: #1a1a7a !default;

/// Main brand color (SynergenHR Blue)
/// @type Color
$brand-color: #0a0a5a !default;

/// Main brand color dark (SynergenHR Blue Dark)
/// @type Color
$brand-color-dark: #050540 !default;

/// Sidebar color (Light Blue)
/// @type Color
$sidebar-color: hsl(210, 40%, 96%) !default;

/// Secondary color (SynergenHR Yellow)
/// @type Color
$secondary-color: #dbf30d !default;

/// Secondary color dark (SynergenHR Yellow Dark)
/// @type Color
$secondary-color-dark: #c4d90b !default;

/// White  color
/// @type Color
$white-color: hsl(0, 0%, 100%) !default;


/// Danger color
/// @type Color
$danger-color: hsl(1, 100%, 61%);

/// Danger dark color
/// @type Color
$danger-color-dark: hsl(1, 64%, 49%);

/// Warning color
/// @type Color
$warning-color: hsl(37, 90%, 51%);

/// Warning dark color
/// @type Color
$warning-color-dark: hsl(37, 90%, 47%);



/// Border color
/// @type Color
$border-color: hsl(213, 22%, 84%) !default;

/// Border light color
/// @type Color
$border-light-color: hsl(213, 22%, 93%) !default;

/// Button light color
/// @type Color
$button-light-color: hsl(0, 0%, 93%) !default;

/// Input placeholder
/// @type Color
$placeholder-color: hsl(216, 18%, 64%) !default;

/// Table color
/// @type Color
$table-text-color: hsl(0, 0%, 37%) !default;

/// Light Text color
/// @type Color
$light-text-color: hsl(0, 0%, 45%)!default;

/// Light button color
/// @type Color
$light-button-color: hsl(0, 0%, 95%) !default;

/// Dark button color
/// @type Color
$dark-button-color: hsl(0, 0%, 90%) !default;

/// Light grey table
/// @type Color
$light-grey-table: hsl(0, 0%, 98%) !default;

/// Light grey
/// @type Color
$light-grey: hsl(0, 0%, 96%) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;
/// icon grey
/// @type Color
$icon-grey: hsl(216, 3%, 39%);

/// Dark grey
/// @type Color
$dark-grey: hsl(0, 0%, 27%) !default;

/// Button text grey
/// @type Color
$button-text-grey: hsl(219, 9%, 29%) !default;

/// White
/// @type Color
$white: hsl(0, 0%, 100%) !default;

/// White
/// @type Color
$black: hsl(0, 0%, 0%) !default;

/// Blue
/// @type Color
$blue: hsl(204, 70%, 53%) !default;

/// Blue Dark
/// @type Color
$blue-dark: hsl(204, 62%, 48%) !default;

/// Orange
/// @type Orange
$orange: hsl(19, 85%, 63%) !default;

/// Yellow
/// @type Color
$yellow: hsl(40, 91%, 60%) !default;

/// Yellow Dark
/// @type Color
$yellow-dark: #dda735 !default;

/// Success
/// @type Color
$green: hsl(121, 47%, 61%) !default;

/// Success
/// @type Color
$success-color: hsl(148, 71%, 44%) !default;

/// Success
/// @type Color
$success-color-dark: hsl(148, 70%, 40%) !default;


/// Alert Colors

/// Danger Bg
/// @type Color
$alert-color-bg-danger: hsl(0, 75%, 97%) !default;
/// Danger border
/// @type Color
$alert-color-border-danger: hsl(357, 72%, 89%) !default;
/// Danger Hlt
/// @type Color
$alert-color-hlt-danger: hsl(0, 71%, 54%) !default;

/// Warning Bg
/// @type Color
$alert-color-bg-warning: hsl(48, 100%, 94%) !default;
/// Warning border
/// @type Color
$alert-color-border-warning: hsl(46, 97%, 88%) !default;
/// Warning Hlt
/// @type Color
$alert-color-hlt-warning: hsl(44, 89%, 62%) !default;

/// Info Bg
/// @type Color
$alert-color-bg-info: hsl(212, 89%, 96%) !default;
/// Info border
/// @type Color
$alert-color-border-info: hsl(218, 75%, 87%) !default;
/// Info Hlt
/// @type Color
$alert-color-hlt-info: hsl(225, 72%, 48%) !default;

/// Success Bg
/// @type Color
$alert-color-bg-success: hsl(137, 78%, 93%) !default;
/// Success border
/// @type Color
$alert-color-border-success: hsl(136, 51%, 84%) !default;
/// Success Hlt
/// @type Color
$alert-color-hlt-success: hwb(119 28% 36%) !default;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;

/// OrgChart Colors (SynergenHR Blue & Yellow Theme)
/// @type Color

$org-chart-primary: #0a0a5a;
$org-chart-secondary: #dbf30d;
$org-chart-tertiary: #1a1a7a;
$org-chart-quaternary: #050540;
$org-chart-quinary: #c4d90b;





/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'x-small': 0px,
  'small': 576px,
  'medium': 768px,
  'large': 992px,
  'x-large': 1200px,
  'xx-large': 1400px
) !default;






/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'https://cdn.example.com/assets/';
$base-url: '/assets/' !default;
